<br>

<br><br><br>

<h2>Sign Up</h2>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business %><br />
    <%= f.radio_button(:business, "Farm") %>
    <%= f.label(:business, "My business is a farm")%><br>
    <%= f.radio_button(:business, "Restaurant")%>
    <%= f.label(:business, "My business is a restaurant")%>
  </div>
  <div class="field">  
    <%= f.label :email %>
    <%= f.text_field :email, :size => 50 %>
  </div>
  <div class="field">  
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<br><br>

<%= link_to 'Back', users_path %>
