<% @body_id = "home" %>

<div class="bg-image">&nbsp;</div>
<section class="top">
  <div class="inner group">
    <div class="major">
      <h2>
        Better Relationships<br />
        Better Food
      </h3>
      
      <ul id="slideshow" class="rslides">
        <li>
          <figure><img src="assets/robbutcher.jpg" alt="" /></figure>
          <figcaption>Rob and Alle, Butcher and Larder</figcaption>
        </li>
        <li>
          <figure><img src="assets/MontalbanoTheFarmers.jpg" alt="" /></figure>
          <figcaption>Rob and Christine, Montalbano Farms</figcaption>
        </li>
      </ul>
      
    </div> <!-- major -->
    <aside class="minor">
      <h2>Sign Up</h2>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div class="error">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <h4 class="select-type">Select Account Type</h4>
        <fieldset class="business-type">
          <%= f.radio_button(:business, "Farm") %>
          <%= f.label(:business, "Farmer")%>
        </fieldset>
        <fieldset class="business-type">
          <%= f.radio_button(:business, "Restaurant")%>
          <%= f.label(:business, "Restaurant")%>
        </fieldset>
        <h4 class="create-account">Create Account</h4>
        <fieldset>  
          <%= f.label :email %>
          <%= f.text_field :email %>
        </fieldset>
        <fieldset>  
          <%= f.label :password %>
          <%= f.password_field :password %>
        </fieldset>
        <fieldset>  
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </fieldset>
        <small>By clicking Sign Up, you agree to our <a href="#">Terms &amp; Conditions</a></small>
        <%= f.submit %>
      <% end %>
    </aside>
  </div>
</section><!-- END TOP -->