<% @body_id = "profile" %>

<section class="main">
<div class="inner group">

	<div class="major">
		<div class="top">
			<figure>
				<%= image_tag @user.photo %>
			</figure>
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<div class="rating">
				<%= @user.ratings.average(:stars) %>
			</div>
			<h4><%= @user.business_name %></h4>
			<address>
				<%= @user.address %><br />
				<%= @user.city %> <%= @user.state %> <%= @user.zip %>
				<% if @user.phone %>
					<br />
					<strong>Phone :</strong> <%= @user.phone %>
				<% end %>
			</address>
			<a href="<%= @user.website %>" class="website"><%= @user.website %></a>
			<ul class="tags">
				<li><%= @user.tag %></li>
			</ul>
			<a href="mailto:<%= @user.email %>" class="small-btn">Contact</a>
			<h4>About Me</h4>
			<p><%= @user.about %></p>
		</div><!-- END TOP -->
		<div class="content">
		</div><!-- END CONTENT -->
	</div><!-- END MAJOR -->
	
	<aside>
		<h3>My Favorite Farms</h3>
		<%= @user.favorite %>
	</aside>

</div>
</section>