<p id="notice"><%= notice %></p>
<h2>Your From My Farmer Order:</h2> 
<ul>
<% @order.order_items.each do |item| %> 
	<%= item.qty_ordered %> &times; <%= item.product.name %> <br>
	<b>Total price:</b>
	<li><%= number_to_currency(item.product.price) %></li>
	<!-- <b>Total qty:</b> -->
	<!-- <#%= @order.total_qty %> -->
	<% end %> 
</ul>
<p>

<p>
  <b>Total qty:</b>
  <%= @order.total_qty %>
</p>

<p>
  <b>Comments:</b>
  <%= @order.comments %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>
<%= button_to 'Cancel Order', @Order, :method => :delete, :confirm => 'Are you sure you want to cancel your order and remove all items?' %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
