<p id="notice"><%= notice %></p>

<p>
  <b>Order #:</b>
  <%= @order_item.order_id %>
</p>

<p>
  <b>Product:</b>
  <%= @order_item.product.name %>
</p>

<p>
  <b>Qty ordered:</b>
  <%= @order_item.qty_ordered %>
</p>

<p>
  <b>Qty ordered price:</b>
  <%= @order_item.qty_ordered_price %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
