<% @body_id = "products" %>

<section class="main">
<div class="inner group">

	<aside>
	  <h4 class="toggler"><a href="#">Navigation</a></h4>
	  <nav>
		  <h4><a href="#">Messages</a></h4>
		  <h4><a href="#">Orders</h4>
		  <ul>
		  	<li><a href="#">Current Orders</a></li>
		  	<li><a href="#">Past Orders</a></li>
		  </ul>
		  <h4><a href="#">My Account</a></h4>
		  <ul>
		  	<li><%= link_to 'Find Farms', locations_path %></li>
		  	<li><%= link_to 'Shopping List', new_product_path %></li>
		  	<li><a href="#">Edit Profile</a></li>
		  	<li><a href="#">View Profile</a></li>
		  </ul>
		</nav>
	</aside>
	
	<div class="major">
		<h2>Listing Products</h2>
		<div class="content">
			<%= search_form_for @q do |f| %>
			  <%= hidden_field params[:cat], "cat" %>
			  <%= f.label :product_attribute_or_name_cont, "Product Name" %>
			  <%= f.text_field :product_attribute_or_name_cont %> 
			  <%= f.submit %>
			<% end %>
			<table>
				<thead>
					<tr>
						<th>Photo</th>
						<th>Product</th>
						<th>Variety</th>
						<th>Description</th>
						<th>Unit Qty</th>
						<th>Unit Price</th>
						<th>Units Avail.</th>
						<th>Farm</th>
						<% if @user.business == 'Restaurant' %>
							<th>Order Qty</th>
							<th>&nbsp;</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
				<% @products.each do |product| %>
					<tr>
						<td data-heading="Photo"><%= image_tag product.image %></td>
						<td data-heading="Product"><%= product.name %></td>
						<td data-heading="Variety"><%= link_to "#{product.product_attribute}", products_path(:cat => product.product_attribute) %></td>
						<td data-heading="Description"><%= product.description %></td>
						<td data-heading="Unit Qty"><%= product.uom %> per <%= product.packaging %></td>
						<td data-heading="Unit Price"><%= number_to_currency(product.price) %></td>
						<td data-heading="Units Avail."><%= product.qty_avail %></td>
						<td data-heading="Farm"><%= product.user.business_name %>
						<% if @user.business == 'Restaurant' %>
							<%= form_tag(order_items_path, :method => :post) do %>
								<td data-heading="Order Qty"><%= number_field_tag :qty %></td>
								<%= hidden_field_tag :id, product.id %>
								<td><%= submit_tag 'Order', :class => 'small-btn' %>
							 <% end %>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
</section>