<h3>My Product List</h3>

Week of <br>
<%= @start_date %> - <%= @end_date %>
<br><br>
<%= link_to 'Previous Year', farmer_list_url(:start_date => Date.parse(@start_date) - 365, :end_date => Date.parse(@end_date) - 365)
 %>. . .
 <%= link_to 'Previous Month', farmer_list_url(:start_date => Date.parse(@start_date) - 30, :end_date => Date.parse(@end_date) - 30) %>. . .
 <%= link_to 'Previous Week', farmer_list_url(:start_date => Date.parse(@start_date) - 7, :end_date => Date.parse(@end_date) - 7) %>. . .
 <%= link_to 'This Week', farmer_list_url %>. . .
 <%= link_to 'Next Week', farmer_list_url(:start_date => Date.parse(@start_date) + 7, :end_date => Date.parse(@end_date) + 7) %>

<%= form_for(@product, :url => { :action => "list2" }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br>
<table>
  <tr>
 <td class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </dtd>
  <td class="field">
    <%= f.label :product_attribute, "Category" %><br />
    <%= f.text_field :product_attribute %>
  </td>
  <td class="field">
    <%= f.label :packaging %><br />
    <%= f.text_field :packaging %>
  </td>
  </tr><tr>
  <td class="field">
    <%= f.label :uom, "Unit of Measurement" %><br />
    <%= f.text_field :uom %>
  </td>
  <td class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </td>
  <td class="field">
    <%= f.label :qty_avail, "Quantity Available" %><br />
    <%= f.text_field :qty_avail %>
  </td><td class="field">
    <%= f.label :description, "Product Description" %><br />
    <%= f.text_area :description, :rows => "3" %>
  </td>

</tr>
</table>
  <div class="actions">
    <%= f.submit "Add this item" %>
  </div>
<% end %>

<br>
<table>
  <tr>
    <th>Product Name</th>
    <th>Variety</th>
    <th>Units/Pkg.</th>
    <th>Qty Avail.</th>
    <th>Unit Price.</th>
    <th>Photo</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.product_attribute %></td>
    <td><%= product.packaging %></td>
    <td><%= product.qty_avail %> <%= product.uom %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>    
  </tr>
<% end %>
</table>

<br><br><br>