<h3>My Product List</h3>

<br>

Week of <br>
<%= @start_date %> - <%= @end_date %>
<br><br>
<%= link_to 'Previous Year', farmer_list_url(:start_date => Date.parse(@start_date) - 365, :end_date => Date.parse(@end_date) - 365)
 %>. . .
 <%= link_to 'Previous Month', farmer_list_url(:start_date => Date.parse(@start_date) - 30, :end_date => Date.parse(@end_date) - 30) %>. . .
 <%= link_to 'Previous Week', farmer_list_url(:start_date => Date.parse(@start_date) - 7, :end_date => Date.parse(@end_date) - 7) %>. . .
 <%= link_to 'This Week', farmer_list_url %>. . .
 <%= link_to 'Next Week', farmer_list_url(:start_date => Date.parse(@start_date) + 7, :end_date => Date.parse(@end_date) + 7) %>

<br><br><br>
<table>
  <tr>
    <th>Product Name</th>
    <th>Variety</th>
    <th>Units/Pkg.</th>
    <th>Qty Avail.</th>
    <th>Unit Price.</th>
    <th>Photo</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.product_attribute %></td>
    <td><%= product.packaging %></td>
    <td><%= product.qty_avail %> <%= product.uom %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>    
  </tr>
<% end %>
</table>

<br><br><br>