<% @body_id = "products" %>

<section class="main group">
	<div class="inner">
		<aside>
		  <h4 class="toggler"><a href="#">Navigation</a></h4>
		  <nav>
			  <h4><a href="#">Messages</a></h4>
			  <h4><a href="#">Orders <span>3</span></a></h4>
			  <ul>
			  	<li><a href="#">New Orders</a></li>
			  	<li><a href="#">Existing Orders</a></li>
			  	<li><a href="#">Past Orders</a></li>
			  </ul>
			  <h4><a href="#">My Account</a></h4>
			  <ul>
			  	<li><a href="#">Product List</a></li>
			  	<li><a href="#">Dropoff Locations</a></li>
			  	<li><a href="#">Edit Profile</a></li>
			  	<li><a href="#">View Profile</a></li>
			  </ul>
			</nav>
		</aside>
	
		<div class="major">
			<h2>My Products</h2>
		  <div class="content">
		  	<h4><strong>Week</strong> : <span><%= @start_date %></span> - <span><%= @end_date %></span></h4>
		    <ul>
		      <li>
		        <%= link_to 'Previous Week', farmer_list_url(:start_date => Date.parse(@start_date) - 7, :end_date => Date.parse(@end_date) - 7) %>
		      </li>
		      <li>
		        <%= link_to 'Next Week', farmer_list_url(:start_date => Date.parse(@start_date) + 7, :end_date => Date.parse(@end_date) + 7) %>    
		      </li>
		      <li>
		        <%= link_to 'Previous Year', farmer_list_url(:start_date => Date.parse(@start_date) - 365, :end_date => Date.parse(@end_date) - 365) %>
		      </li>
		      <li>
		        <%= link_to 'Previous Month', farmer_list_url(:start_date => Date.parse(@start_date) - 30, :end_date => Date.parse(@end_date) - 30) %>
		      </li>
		      <li>
		        <%= link_to 'This Week', farmer_list_url %>
		      </li>
		    </ul>
			  <div class="add-product">
			    <h3><a href="#" class="long-btn">Add Product</a></h3>
			    <%= form_for(@product, :url => { :action => "list2" }) do |f| %>
			      <% if @product.errors.any? %>
			        <div id="error_explanation">
			          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
			          <ul>
			          <% @product.errors.full_messages.each do |msg| %>
			            <li><%= msg %></li>
			          <% end %>
			          </ul>
			        </div>
			      <% end %>
						<fieldset class="half">
							<label>Product Image</label>
							<%= f.file_field :image %>
						</fieldset>
						<fieldset class="half">
							<label>Product</label>
							<%= f.text_field :name %>
						</fieldset>
						<fieldset class="half right">
							<label>Variety</label>
							<%= f.text_field :product_attribute %>
						</fieldset>
						<fieldset class="half">
							<label>Packaging</label>
							<%= f.text_field :packaging %>
						</fieldset>
						<fieldset class="half right">
							<label>Pkg. Qty</label>
							<%= f.text_field :uom %>
						</fieldset>
						<fieldset class="half">
							<label>Price</label>
							<%= f.text_field :price %>
						</fieldset>
						<fieldset class="half right">
							<label>Qty Avail.</label>
							<%= f.text_field :qty_avail %>
						</fieldset>
						<fieldset class="full">
							<label>Description</label>
							<%= f.text_area :description %>
						</fieldset>
						<fieldset class="full">
							<label>Product Image</label>
							<%= f.file_field :image %>
						</fieldset>
			    <%= f.submit "Add this item" %>
			    <% end %>
			  </div><!-- END ADD-PRODUCT -->
			  <div class="product-list">
			    <h3>Product List</h3>
			    <table>
			      <thead>
			        <tr>
			          <th>Product Name</th>
			          <th>Variety</th>
			          <th>Units/Pkg.</th>
			          <th>Qty Avail.</th>
			          <th>Unit Price</th>
			          <!-- <th>Photo</th> -->
			          <th colspan="2">Edit Item</th>
			        </tr>
			      </thead>
			      <tbody>
			      <% @products.each do |product| %>
			        <tr>
			          <td data-heading="Product"><%= product.name %></td>
			          <td data-heading="Variety"><%= product.product_attribute %></td>
			          <td data-heading="Units/Pkg."><%= product.uom %> / <%= product.packaging %></td>
			          <td data-heading="Qty Avail."><%= product.qty_avail %></td>
			          <td data-heading="Unit Price"><%= number_to_currency(product.price) %></td>
			          <td data-heading="Photo"><%= link_to 'Edit', edit_product_path(product) %></td>
			          <td data-heading=""><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>    
			        </tr>
			      <% end %>
			      </tbody>
			    </table>
			  </div><!-- END PRODUCT-LIST -->
		  </div><!-- END CONTENT -->
		</div><!-- END MAJOR -->
	</div><!-- END INNER -->
</section>