<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Product attribute:</b>
  <%= @product.product_attribute %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Packaging:</b>
  <%= @product.packaging %>
</p>

<p>
  <b>Uom:</b>
  <%= @product.uom %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Qty avail:</b>
  <%= @product.qty_avail %>
</p>

<p>
  <b>User:</b>
  <%= @product.user_id %>
</p>
<br>
<% if session["user_id"] != @product.user_id %>
  <%= form_tag url_for(:controller => 'order_items', :action => 'create') do %>
    <%= label_tag "Qty to order:" %>
    <%= number_field_tag params[:qty_ord] %>
    <%= hidden_field_tag params[:product_id], @product.id %>
    <%= submit_tag %>
  <% end %>
<% else %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>  
<%= link_to 'Back', products_path %>
