<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Product attribute:</b>
  <%= @product.product_attribute %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Packaging:</b>
  <%= @product.packaging %>
</p>

<p>
  <b>Uom:</b>
  <%= @product.uom %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Qty avail:</b>
  <%= @product.qty_avail %>
</p>

<p>
  <b>Farm:</b>
  <%= @product.user.business_name %>
</p>
<br>
<% if session["user_id"] != @product.user_id %>
  <%= form_for(@order_item) do |f| %>
    <%= f.label "Qty to order:" %>
    <%= f.number_field :qty_ordered %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit %>

  <% end %>
<% else %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>  
<%= link_to 'Back', products_path %>
