<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div class="error">
      <h4><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h4>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </fieldset>
  <fieldset>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </fieldset>
  <fieldset>
    <%= f.label :state %><br />
    <%= f.select :state, states %>
  </fieldset>
  <fieldset>
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </fieldset>
  <fieldset>
    <%= f.label :day %><br />
    <%= f.select :day, dropoff_day %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
