<br><br>
<h1>New location</h1>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<br>

<%= image_tag @url %>

<br><br>

<h1>Listing locations</h1>
<table>
  <tr>
    <th>Street address</th>
    <th></th>
    <th>Distance</th>
    <th></th>
    <th>City</th>
    <th></th>
    <th>State</th>
    <th></th>
    <th>Zip</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<tr>
  <% for dropoff in @temp.nearbys(10) %>
    <td><%= link_to dropoff.street_address, dropoff %></td>
    <td></td>
    <td><%= dropoff.distance_from(@farm).round(2) %> miles </td>
    <td><%= dropoff.city %></td>
    <td></td>
    <td><%= dropoff.state %></td>
    <td></td>
    <td><%= dropoff.zip %></td>
    <td></td>
    <td><%= dropoff.day %></td>
    <td><%= link_to 'Show', dropoff %></td>
    <td><%= link_to 'Edit', edit_location_path(dropoff) %></td>
    <td><%= link_to 'Destroy', dropoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
