<% @body_id = "locations" %>

<%= stylesheet_link_tag 'gmaps4rails' %>

<section class="main">
<div class="inner group">	
	
	<aside>
	  <h4 class="toggler"><a href="#">Navigation</a></h4>
	  <nav>
		  <h4><a href="#">Messages</a></h4>
		  <h4><a href="#">Orders <span>3</span></a></h4>
		  <ul>
		  	<li><a href="#">New Orders</a></li>
		  	<li><a href="#">Existing Orders</a></li>
		  	<li><a href="#">Past Orders</a></li>
		  </ul>
		  <h4><a href="#">My Account</a></h4>
		  <ul>
		  	<li><a href="#">Product List</a></li>
		  	<li><a href="#">Dropoff Locations</a></li>
		  	<li><a href="#">Edit Profile</a></li>
		  	<li><a href="#">View Profile</a></li>
		  </ul>
		</nav>
	</aside>
	
	<div class="major">
		<h2>Dropoff Locations</h2>
		<div class="content">
			<% if @farm.business == "Farm" %>
			<div class="add-location">
				<h3><a href="#" class="long-btn">Add New Location</a></h3>
				<%= form_for @location, :url => { :action => 'index2'} do |f| %>
			  	<% if @location.errors.any? %>
			    <div id="error_explanation">
			      <h4><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h4>
			      <ul>
			      <% @location.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			    <% end %>
			    <fieldset>
			    <%= f.label :street_address %>
			    <%= f.text_field :street_address %>
			    </fieldset>
			    <fieldset class="half">
			    <%= f.label :city %>
			    <%= f.text_field :city %>
			    </fieldset>
			    <fieldset class="half right">
			    <%= f.label :state %>
			    <%= f.select :state, states %>
			    </fieldset>
			    <fieldset class="half">
			    <%= f.label :zip %>
			    <%= f.number_field :zip %>
			    </fieldset>
			    <fieldset class="half right">
			    <%= f.label :day, "Delivery Day" %>
			    <%= f.select :day, dropoff_day %>
			    </fieldset>
			    <%= f.submit %>
				<% end %>
			</div><!-- END ADD-LOCATION -->
			<% else %>
			<h3>Find location</h3>
			<%= search_form_for @q do |f| %>
			  <%= f.text_field :street_address_or_city_or_state_or_zip_cont %>
			  <%= f.submit "Search Near" %>
			<% end %>
			<% end %>
			<% if @farm.business == "Chef" %>
			<h3>Find location</h3>
			<%= search_form_for @q do |f| %>
			<%= f.text_field :street_address_or_city_or_state_or_zip_cont %>
			<%= f.submit "Search Near" %>
			<% end %>
			<% end %>
			<figure>
				<%= image_tag @url %>
			</figure>
			<div class="listing">
				<h3>Listing locations</h3>
				<table>
					<thead>
						<tr>
							<th>Street address</th>
							<th>Distance</th>
							<th>City</th>
							<th>State</th>
							<th>Zip</th>
							<th>Day</th>
							<th>Farm</th>
							<th>Product List</th>
							<th colspan="3">Edit</th>
						</tr>
					</thead>
					<tbody>
						<% for dropoff in @temp.nearbys(10) %>
						<tr>
							<td data-label="Address"><%= link_to dropoff.street_address, dropoff %></td>
							<td data-label="Distance"><%= dropoff.distance_from(@farm).round(2) %> miles </td>
							<td data-label="City"><%= dropoff.city %></td>
							<td data-label="State"><%= dropoff.state %></td>
							<td data-label="Zip"><%= dropoff.zip %></td>
							<td data-label="Day"><%= dropoff.day %></td>
							<td data-label="Farm"><%= link_to "#{dropoff.user.business_name}", user_url(dropoff.user.id) %></td>
							<td data-label="Product List"><%= link_to "Products",products_url(:loc => dropoff.user.id) %></td>
							<td><%= link_to 'Show', dropoff %></td>
							<td><%= link_to 'Edit', edit_location_path(dropoff) %></td>
							<td><%= link_to 'Remove', dropoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div><!-- END LISTING -->
		</div><!-- END CONTENT -->
	</div><!-- END MAJOR -->
	
</div><!-- END INNER -->
</section>