<h1>New location</h1>


<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>
<!-- <#%= gmaps4rails(@json) %> -->

<br>

<% @locations.each do |location| %>
<% @url = @url + "%7Clabel:S%7C#{location.latitude},#{location.longitude}&markers=color:green" %>

  <% for dropoff in location.nearbys(10) %>
    <li><%= link_to dropoff.street_address, dropoff %> (<%= dropoff.distance.round(2) %> miles)</li>
  <% end %>

<% end %>

<% @url = @url + "&sensor=false" %>


  <%= image_tag @url %>


  <ul>


<br><br><br>

<h1>Listing locations</h1>

<table>
  <tr>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.street_address %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zip %></td>
    <td><%= location.day %></td>
 	<td><%= location.latitude %></td>
 	<td><%= location.longitude %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
