<br><br>
<h2>New Location</h2>

<%= form_for @location, :url => { :action => 'index2'} do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
  <td class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address %>
  </td>
  <td class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </td>
  <td class="field">
    <%= f.label :state %><br />
    <%= f.select :state, states %>
  </td>
  <td class="field">
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </td>
  <td class="field">
    <%= f.label :day, "Delivery Day" %><br />
    <%= f.select :day, dropoff_day %>
  </td>
  <td class="actions"></br>
    <%= f.submit %>
  </td>
</tr>
</table>
<% end %>

<br><br>

<h1>Find location</h1>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<br>

<h1>Listing locations</h1>
<table>
  <tr>
    <th>Street address</th>
    <th></th>
    <th>Distance</th>
    <th></th>
    <th>City</th>
    <th></th>
    <th>State</th>
    <th></th>
    <th>Zip</th>
    <th></th>
    <th>Delivery Day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<tr>
  <% for dropoff in @temp.nearbys(10) %>
    <td><%= link_to dropoff.street_address, dropoff %></td>
    <td></td>
    <td><%= dropoff.distance_from(@farm).round(2) %> miles </td>
    <td><%= dropoff.city %></td>
    <td></td>
    <td><%= dropoff.state %></td>
    <td></td>
    <td><%= dropoff.zip %></td>
    <td></td>
    <td><%= dropoff.day %></td>
    <td><%= link_to 'Show', dropoff %></td>
    <td><%= link_to 'Edit', edit_location_path(dropoff) %></td>
    <td><%= link_to 'Destroy', dropoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= image_tag @url %>

<br><br>

