<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'gmaps4rails' %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.fulladdress, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>


<p>
  <b>Street address:</b>
  <%= @location.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @location.zip %>
</p>

<p>
  <b>Day:</b>
  <%= @location.day %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
