<!DOCTYPE html>
<html>
<head>
  <title>From My Farmer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= stylesheet_link_tag 'gmaps4rails' %>

	<div id="container">
		<header>
			<h1><%= link_to "From My Farmer", root_url %></h1>
			<nav>
				<ul>
					<% if logged_in? %>
						<li><%= link_to "View My Profile", user_url(current_user) %></li>
						<li><%= link_to "Sign Out", signout_url, :method => :delete %></li>
					<% else %>		
						<h2>Log In</h2>
						<%= form_tag sessions_url do %>
						  <div>  
						    <%= label_tag :email %>
						    <%= text_field_tag :email, nil, :size => 50 %>
						  </div>
						  <div>  
						    <%= label_tag :password %>
						    <%= password_field_tag :password %>
						  </div>
						  <%= submit_tag "Login" %>
						<% end %>
					<% end %>
				</ul>
			</nav>
		</header>

		<div id="content">
			<%= notice %>

			<%= yield %>
		</div>
		
		<footer>
			&copy;FMF FOOTER
			<%= yield :scripts %>
		</footer>
	</div>
</body>
</html>