<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" manifest="default.appcache?v=1" lang="en"><!--<![endif]-->

<head>
<!--[if IE]><![endif]-->
<meta charset="utf-8" />

<title>From My Farmer</title>

<meta name="description" content="FromMyFarmer is a two-sided online marketplace to match local farmers with chefs and grocery stores that want a direct relationship with farmers." />
<meta name="author" content="FromMyFarmer" />
<meta name="copyright" content="Copyright FromMyFarmer 2012. All Rights Reserved." />
<meta name="DC.title" content="From My Farmer" />
<meta name="DC.subject" content="Local farmer, chef, and restaurant marketplace" />
<meta name="DC.creator" content="Dan Stokes, Ian Gerstel, Laura Osier, Kenton Quatman" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="cleartype" content="on">
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "style" %>

<%= csrf_meta_tags %>

<script>
	var b = document.documentElement;
  	b.setAttribute('data-useragent',  navigator.userAgent);
  	b.setAttribute('data-platform', navigator.platform );
</script>

<script src="/assets/js/libs/modernizr-2.5.3.min.js"></script>

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/fav/apple-touch-icon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/fav/apple-touch-icon-42.png">
<link rel="apple-touch-icon-precomposed" href="/assets/img/fav/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="/assets/img/fav/apple-touch-icon.png">
<link rel="shortcut icon" href="/assets/img/fav/favicon.ico">

<link rel="canonical" href="/">

</head>

<body<%= " id='#{@body_id}'" if @body_id %>>

<%= stylesheet_link_tag 'gmaps4rails' %>

	<header>
		<div class="inner">
  		<h1><%= link_to "From My Farmer", root_url %></h1>
  		<% if logged_in? %>
   			<nav>
  				<ul>
  					<li><%= link_to "View My Profile", user_url(current_user) %></li>
  					<li><%= link_to "Dropoff Locations", locations_url(current_user) %></li>
					<li><%= link_to "Products", products_url %></li>
  					<li><%= link_to "Sign Out", signout_url, :method => :delete %></li>
  				</ul>
  			</nav>
  			<% else %>		
  			<%= form_tag sessions_url, :class => "Login" do %>
  			  <fieldset>  
  			    <%= label_tag :email %>
  			    <%= text_field_tag :email, nil %>
  			  </fieldset>
  			  <fieldset>
  			    <%= label_tag :password %>
  			    <%= password_field_tag :password %>
  			  </fieldset>
  			  <%= submit_tag "Login" %>
  			<% end %>
  		<% end %>
		</div>
	</header>


	<!-- <#%= notice %> -->
	<%= yield %>

	
  <footer>
    <div class="inner">
      <nav>
        <ol>
          <li><a href="/">Home</a></li>
          <li><%= link_to "About", about_path %> </li>
          <li><a href="#">Farmers</a></li>
          <li><a href="#">Chefs</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Contact</a></li>
        </ol>
      </nav>
      <small>&copy; 2012 From My Farmer</small>
    <div><!-- innner -->

    <%= yield :scripts %>
  </footer>

</body>

  <script src="/assets/jquery-1.8.1.min.js"></script>
  <script src="/assets/plugins.js"></script>
  <script src="/assets/responsiveslides.min.js"></script>
  <script src="/assets/functions.js"></script>
  <script src="/assets/ios-orientationchange-fix.js"></script>
  
  <%= javascript_include_tag "gmaps4rails.base" %>
  <%= javascript_include_tag "gmaps4rails.bing" %>
  <%= javascript_include_tag "gmaps4rails.googlemaps" %>
  <%= javascript_include_tag "gmaps4rails.mapquest" %>
  <%= javascript_include_tag "gmaps4rails.openlayers" %>
  
  <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="/assets/selectivizr.js"></script>
    <script src="/assets/respond.js"></script>
  <![endif]-->
  <!--[if (lt IE 8) & (!IEMobile)]>
    <script src="/assets/imgsizer.js"></script>
    <script>
      addLoadEvent(function() {
      if (document.getElementById && document.getElementsByTagName) {
      var aImgs = document.getElementById("content").getElementsByTagName("img");
      imgSizer.collate(aImgs);
      }
      });
    </script>
  <![endif]-->

</html>